
[buildout]
extensions = mr.developer
sources-dir = sources
auto-checkout = *

parts = 
     app

include-site-packages = false

develop =
    src/fastbreak


[sources]
colander = git git@github.com:Pylons/colander.git
deform = git git@github.com:Pylons/deform.git
substanced = git git@github.com:Pylons/substanced.git
deform_bootstrap = git git://github.com/dnouri/deform_bootstrap.git

[app]
recipe = zc.recipe.egg
unzip = true
dependent-scripts = true
eggs =
    fastbreak
    repoze.debug
    nose
    webtest
    supervisor
    pyramid_debugtoolbar

interpreter = py
