.container {
}

.fb-toolbar {
    margin-bottom: 0;
}

.fb-toolbar-box {
    margin-top: 0.5em;
    font-size: larger;
}

.fb-toolbar-box .btn, .fb-toolbar-box .btn-group {
    margin-top: 0;
    vertical-align: top;
}

#fb-text-filter {
    width: 100px;
}

.fb-cheatsheet-row {
    margin-bottom: 0.2em;
    font-size: smaller;
}

.fb-cheetsheet-cell div {
    line-height: 16px;
    font-size: smaller;
}

.fb-team-positions {
    width: 100%;
}

.fb-team-positions caption {
    font-weight: bold;
    font-size: larger;
    border-bottom: solid #2f4f4f 1px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.fb-positions-headshot {
    width: 60px;
    display: block;
    float: left;
    margin-right: 0.2em
}

.slick-header-columns {
    text-align: center;
}

