
.container {
    margin-top: 2em;
}

.fb-toolbar {
    margin-bottom:0;
}

.fb-toolbar-box {
    margin-top: 0.5em;
    font-size: larger;
}

.fb-toolbar-box .btn, .fb-toolbar-box .btn-group {
    margin-top:0;
    vertical-align: top;
}